
body{
    height: 100vh;
}
.history{
    position: relative;
    padding-left: 20px;
    background-color: rgba(230, 233, 236, 0.29);
    width: 100%;
    border-radius: 0 20px 20px 0;
}
.history h1{
    font-size: 30px;
}
.button button ,.button select{
    border-radius: 10px;
    border: 1px solid white;
    height: 40px;
    width: 120px;
    
}
.button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

@media (max-width: 880px) {

.analysis{
  margin-top: 10px;
  margin-right: 20px;
}
}

@media (max-width: 613px){

 .history{
    height: 800px;
 }
    .button {
        display: flex;
        flex-wrap: wrap;
    }
    .button button,.button select{
        width: 100px;
        margin-right:40px;
        margin-top: 10px;
    }
}